<!-- views/Post/create.hbs -->
<div class="container">
    <h1 class="my-4">Criar Novo Post</h1>

    <form action="/post" method="POST">
        <div class="my-3">
            <label for="id-input-album" class="form-label">Álbum</label>
            <input type="text" id="id-input-album" name="album" class="form-control" required>
        </div>

        <div class="my-3">
            <label for="id-input-texto" class="form-label">Texto</label>
            <textarea id="id-input-texto" name="texto" class="form-control" required></textarea>
        </div>

        <div class="my-3">
            <label for="id-input-curtidas" class="form-label">Curtidas</label>
            <input type="number" id="id-input-curtidas" name="curtidas" class="form-control" required>
        </div>

        <div class="my-3">
            <label for="id-input-dataPostagem" class="form-label">Data Postagem</label>
            <input type="date" id="id-input-dataPostagem" name="dataPostagem" class="form-control" required>
        </div>

        <div class="my-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/post" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>