
    
</body>
</html><div class="container">
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
            <img src="/img/albumbjork.jpg" alt="Debut" class="img-fluid" style="max-width: 200px; height: auto;">
        </div>
        <div class="col-md-9">
            <h1 class="fs-3">
                Álbum: <strong>Debut</strong><br>
                Artista: Björk<br>
                Ano de Lançamento: 1993<br>
                Gênero: Art Pop, Pop <br><br>
                <div style="background-color: pink;">
                    Review mais curtida: <br>
                    Considerada a pioneira da música pop alternativa, a nascida na Islândia Björk criou um álbum de
                    estreia fenomenal, com instrumentais ao mesmo tempo que são calmos
                    e relaxantes são de explodir sua mente com a qualidade da produção de um álbum de pop da década de
                    90, com letras profundas sobre amor e o sobrenatural, incluindo citações
                    do folclore islandês, mostrando ao mundo um pouco da cultura das terras geladas.
                </div>

            </h1>
        </div>
    </div>
</div>

<div class="text-center mt-7">
    <a href="/Sobre" class="btn btn-secondary btn-lg">Voltar</a>
</div>