<div class="container">
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
            <img src="/img/albumwutang.jpg" alt="Enter the Wu-Tang (36 Chambers)" class="img-fluid"
                style="max-width: 200px; height: auto;">
        </div>
        <div class="col-md-9">
            <h1 class="fs-3">
                Álbum: <strong>Enter the Wu-Tang (36 Chambers) </strong> <br>
                Grupo: Wu-Tang Clan <br>
                Ano de Lançamento: 1993 <br>
                Gênero: Hip-Hop Experimental, Boom Bap, Hip-Hop da Costa Leste <br> <br>
                <div style= "background-color: pink;">
                    Review mais curtida: <br>
                    O álbum de estreia do grupo de rap Wu-Tang Clan é até hoje considerado como um dos melhores do
                    Hip-Hop Old School, com produções e samples
                    impressionantes pelo membro RZA, o grupo conseguiu fazer um álbum repleto de letras visando
                    conscientizar a todos sobre temas como a violência policial em relação à população
                    negra e briga de gangues dos EUA em um tom agressivo, sarcástico e até mesmo divertido (do jeito
                    sombrio de humor deles) em alguns momentos, definitivamente vale a pena ouvir para os fãs
                    de rap!
                </div>

            </h1>
        </div>
    </div>
</div>

<div class="text-center mt-7">
    <a href="/Sobre" class="btn btn-secondary btn-lg">Voltar</a>
</div>