<div class="container">
    <h1 class="fs-3">Este é um blog para você fanático de música conseguir expressar a sua opinião (negativa ou positiva) em relação
        aos seus álbuns favoritos (ou menos favoritos)!
        Dando uma nota ao álbum e dizendo a todos qual sua faixa favorita (ou menos favorita caso você seja um hater)
        dele e o por quê, se desejar.
        Este blog foi criado com o objetivo de conectar os reais fãs de música e fazê-los conhecer ainda mais álbuns
        para aumentar o seu repertório.
    </h1>
    <div class="d-flex justify-content-center gap-3">
        <a href="/Nirvana" class="btn btn-outline-secondary">
            <img src="/img/albumnirvana.jpg" alt="albumnirvana" style="width: 200px; height: 200px; object-fit: cover;">
        </a>
        <a href="/WuTang" class="btn btn-outline-secondary">
            <img src="/img/albumwutang.jpg" alt="albumwutang" style="width: 200px; height: 200px; object-fit: cover;">
        </a>
        <a href="/Bjork" class="btn btn-outline-secondary">
            <img src="/img/albumbjork.jpg" alt="albumbjork" style="width: 200px; height: 200px; object-fit: cover;">
        </a>
    </div>

</div>