<div class="container">
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
            <img src="/img/albumnirvana.jpg" alt="In Utero" class="img-fluid" style="max-width: 200px; height: auto;">
        </div>
        <div class="col-md-9">
            <h1 class="fs-3">
                Álbum: <strong>In Utero</strong> <br>
                Banda: Nirvana <br>
                Ano de Lançamento: 1993 <br>
                Gênero: Grunge, Noise Rock <br><br>
                <div style="background-color: pink;">Review mais curtida: <br>
                    Um álbum muito bem recebido mesmo com a estranheza que causou na época, após o sucesso mundial e
                    comercial da banda em 1991 com o
                    <span class="text-danger">Nevermind</span>, o trio de Seattle retornou a um som muito semelhante ao
                    seu primeiro álbum de estúdio
                    <span class="text-danger">Bleach</span>, com um som muito barulhento e até mesmo experimental.
                </div>

            </h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="/img/albumnevermind.jpg" alt="Nevermind" class="img-fluid"
                style="max-width: 200px; height: auto;">
            <p class="mt-2"><strong>Nevermind (1991)</strong> - O álbum que levou o Nirvana ao topo das estações na
                época, muito conhecido e vangloriado até os dias de hoje.</p>
        </div>

        <div class="col-md-6 text-center">
            <img src="/img/albumbleach.jpg" alt="Bleach" class="img-fluid" style="max-width: 200px; height: auto;">
            <p class="mt-2"><strong>Bleach (1989)</strong> - O primeiro álbum de estúdio da banda, com um som cru,
                experimental e barulhento com influências do punk e do metal.</p>
        </div>
    </div>
</div>

<div class="text-center mt-7">
    <a href="/Sobre" class="btn btn-secondary btn-lg">Voltar</a>
</div>